{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <style>
  .body {
    padding: 0;
    margin: 0;
}

@media only screen and (max-device-width: 680px), only screen and (max-width: 680px) {
    *[class="table_width_100"] {
    width: 96% !important;
  }
  *[class="border-right_mob"] {
    border-right: 1px solid #dddddd;
  }
  *[class="mob_100"] {
    width: 100% !important;
  }
  *[class="mob_center"] {
    text-align: center !important;
  }
  *[class="mob_center_bl"] {
    float: none !important;
    display: block !important;
    margin: 0px auto;
  }
  .iage_footer a {
    text-decoration: none;
    color: #929ca8;
  }
  img.mob_display_none {
    width: 0px !important;
    height: 0px !important;
    display: none !important;
  }
  img.mob_width_50 {
    width: 40% !important;
    height: auto !important;
  }
}
.table_width_100 {
  width: 680px;
}
  </style>
</head>

<div id="mailsub" class="notification" align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;"><tr><td align="center" bgcolor="#eff3f8">

<table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
    <tr><td>
  <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"></div>
  </td></tr>
  <!--header -->
  <tr><td align="center" bgcolor="#ffffff">
    <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;"></div>
    <table width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr><td align="left"><!--

        Item --><div class="mob_center_bl" style="float: left; display: inline-block; width: 115px;">
          <table class="mob_center" width="115" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="left" valign="middle">
              <!-- padding -->
              <table width="115" border="0" cellspacing="0" cellpadding="0" >
                <tr><td align="left" valign="top" class="mob_center">
                  <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                  <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
                  <img src="https://preview.ibb.co/h5BSgQ/Image_uploaded_from_i_OS.jpg" width="115" height="100" alt="" border="0" style="display: block;" /></font></a>
                </td></tr>
              </table>
            </td></tr>
          </table></div><!-- Item END--><!--[if gte mso 10]>
          </td>
          <td align="right">
        <![endif]--><!--

        Item --><div class="mob_center_bl" style="float: right; display: inline-block; width: 88px;">

      </tr>
    </table>
    <!-- padding --><div style="height: 50px; line-height: 50px; font-size: 10px;"></div>
  </td></tr>
  <!--header END-->

  <!--content 1 -->
  <tr><td align="center" bgcolor="#fbfcfd">
    <table width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr><td align="center">
        <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"></div>
        <div style="line-height: 44px;">
          <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
          <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
           RAS Ghana user signup.
          </span></font>
        </div>
        <div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
      </td></tr>
      <tr><td align="center">
        <div style="line-height: 24px;">
          <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
          <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
             Hello <strong>Ras Ghana</strong><br>
              A user with the name {{first_name}} {{last_name}} just registered on your app. Please make a follow up to make sure the user is comfortable with the app and has gone through all the processes.
              <br>
              <p>Date Joined: {{date_joined}}</p>
              <p>visit www.rasghana.com for more information</p>
          </span></font>
        </div>
        <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
      </td></tr>
      <tr><td align="center">
         <div style="line-height: 24px;">
          <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
            <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
            <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.rasghana.app2">Rate Ras Ghana</a>
        </div>
        <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"></div>
      </td></tr>
    </table>
  </td></tr>
  <!--content 1 END-->

  <!--content 2 -->
  <tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
    <table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr><td align="center">
        <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>

        <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
          <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
              <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
              <div style="line-height: 14px;">
                <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                  <a href="http://www.rasghana.com/" target="_blank" style="color: #4db3a4; text-decoration: none;">Customised Tests</a>
                </strong></font>
              </div>
              <!-- padding --><div style="height: 18px; line-height: 18px; font-size: 10px;"></div>
              <div style="line-height: 21px;">
                <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
                  These are tests that employers have specified to be used to evaluate their potential employees.
                </span></font>
              </div>
            </td></tr>
          </table>
        </div>
        <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
          <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
              <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
              <div style="line-height: 14px;">
                <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                  <a href="http://www.rasghana.com/" target="_blank" style="color: #4db3a4; text-decoration: none;">Training & Development</a>
                </strong></font>
              </div>
              <!-- padding --><div style="height: 18px; line-height: 18px; font-size: 10px;"></div>
              <div style="line-height: 21px;">
                <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
                   From time to time, successful industry players from within or out of the country are invited to hold training and development seminars for starters, business owners and employees.

              </div>
            </td></tr>
          </table>
        </div>
        <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
          <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
              <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
              <div style="line-height: 14px;">
                <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                  <a href="http://www.rasghana.com/" target="_blank" style="color: #4db3a4; text-decoration: none;"> Recruitment & Assessment</a>
                </strong></font>
              </div>
              <!-- padding --><div style="height: 18px; line-height: 18px; font-size: 10px;"></div>
              <div style="line-height: 21px;">
                <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
                RAS Ghana undertakes assessment of individuals and helps to aggressively market the test results of those who make the mark.
                </span></font>
              </div>
            </td></tr>
          </table>
        </div>
      </td></tr>
      <tr><td><!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"></div></td></tr>
    </table>
  </td></tr>
  <!--content 2 END-->
  <!--content 3 -->
  <tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
    <table width="94%" border="0" cellspacing="0" cellpadding="0">
  <!--footer -->
  <tr><td class="iage_footer" align="center" bgcolor="#ffffff">
    <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"></div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr><td align="center">
        <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
          2017 © Ras Ghana. ALL Rights Reserved.
        </span></font>
      </td></tr>
    </table>

    <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;"></div>
  </td></tr>
  <!--footer END-->
</table>
</body>
</html>

