{% extends 'ras_dashboard/admin_base.html' %}

<html>
<head>
  {% block head_title %} Dashboard | add News {% endblock%}
</head>
{% block content %}
<body>
  <section class="page-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="header-inline-content">
                <h2 class="page-title">Add News</h2>
              </div>
              <div class="header-inline-content">

              </div>
            </div>
          </div>
        </div>
      </section><!-- End of Page Header -->
{% if messages %}
      <div class="notice notice-info col-sm-4">
      <strong>Ras Ghana</strong> Notification
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      </div>
      {% endif %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="admin-content">
              <h4 class="text-center">Add News</h4>
              <p class="mar-bot-30 text-center">This section is to add any news that would be beneficial to app users</p>

              <!-- Form with Tooltip Alerts -->

               <form enctype='multipart/form-data' method="POST" class="post-form form-theme">{% csrf_token %}
                 {{ form.as_p }}
                <br>
                   <button type="submit" class="save btn btn-default ">Add News</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End of Page Content -->

</body>
{% endblock %}
</html>
