{% extends 'ras_dashboard/admin_base.html' %}

<html>
<head>
  {% block head_title %} Dashboard | add Event {% endblock%}
</head>
{% block content %}

<body>
  <section class="page-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="header-inline-content">
                <h2 class="page-title">Add Event</h2>
              </div>
              <div class="header-inline-content">
              </div>
            </div>
          </div>
        </div>
      </section><!-- End of Page Header -->

      {% if messages %}
      <div class="notice notice-info col-sm-4">
      <strong>Ras Ghana</strong> Notification
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      </div>
      {% endif %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="admin-content">
              <h4 class="text-center">Add Event</h4>
              <p class="mar-bot-30 text-center">This form allows adding of incoming of events for attendance.</p>

              <form enctype='multipart/form-data' method="POST" class="post-form form-theme">{% csrf_token %}
                 {{ form.as_p }}
                   <!-- <label class="control-label">Time</label>
                   <input type="text" class="form-control" name="time" /> -->


            <div class="input-group registration-date-time">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                <input class="form-control" name="registration_date" id="registration-date" type="date">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                <input class="form-control" name="registration_time" id="registration-time" step="1">
              </div>
                <br>
                   <button type="submit" class="save btn btn-default ">Save Event</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End of Page Content -->

</body>
<script>


      $(".pick-a-color").pickAColor();
      $('.colorpicker').colorpicker();
       $('#timepicker').timepicker();
       $('#multiselect').multiselect();
        $('#multiGroupSelect').multiselect({
        enableClickableOptGroups: true,
        buttonWidth: '100%'
        });
         $('#multiselectFiltering').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true
      });

// $('#registration-time').datetimepicker({format: 'HH:mm'});
// $(document).ready(function(){
//     $('input.timepicker').timepicker({ timeFormat: 'h:mm:ss p' });
// });

 // $('.clickme').click(function(){
 //  console.log("ngaoegn")
 //        // var date = $('[name=registration_date]').val();
 //        // var time = $('[name=registration_time]').val();
 //        // $('[name=date_with_time]').val(date+' '+time);
 //    });
    </script>

{% endblock %}

</html>
