{% load staticfiles %}
<html lang="en">
  <head>

        <!-- Meta Tags -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | Ras Ghana</title>
    <meta name="description" content="Ras Ghana Dashboard">
    <meta name="keywords" content="Ras Ghana">
    <meta name="author" content="Ras Ghana">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicon -->

    <link rel="icon" href="{% static 'ras_dashboard/images/ras.ico' %}" type="image/x-icon">

    <!-- Loading Google Fonts -->

    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Loading Third Party Styles -->

    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/et-line/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/elegant-icons/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/pe-icon-7-stroke/css/helper.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/nivo-lightbox/css/nivo-lightbox.css' %}"/>
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/nivo-lightbox/themes/default/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/animate/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/owl/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/owl/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/form-validation/css/formValidation.min.css' %}">

    <!-- Loading Page's Styles -->

    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/morris.js/morris.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/dropzone/css/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/third-party/full-calendar/css/fullcalendar.min.css' %}">


    <!-- Loading Theme's Styles -->

    <link rel="stylesheet" href="{% static 'ras_dashboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ras_dashboard/css/custom.css' %}">

    <!-- Script for IE < 9 -->

    <!--[if lt IE 9]>
    <script src="third-party/respond/js/respond.min.js"></script>
    <![endif]-->

  </head>

  <!-- Remove "header-side" if side menu isn't present | Remove "in" if you want the side-header closed by default -->

  <body class="header-side in">
    <!-- Page Loader -->
    <!-- <div class="loader">
      <div class="spinner"></div>
    </div> -->
    <!-- Page Content -->
    <div class="page-content">
            <header class="navigation">
                <!-- Header Wrapper -->
                <div class="main-nav dark-dropdown nav-icons-right header-icons header-right">
                    <div class="navbar navbar-default" role="navigation">
            <div class="container active">
              <div class="navbar-header">
              <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <ul class="bar-icon-wrapper">
                      <li class="bar-icon"></li>
                      <li class="bar-icon"></li>
                      <li class="bar-icon"></li>
                  </ul>
                </a>
                <!-- Logo -->
                <a class="logo" href="index.html">
                  <img alt="image" src="{% static 'ras_dashboard/images/ras.png' %}" />
                </a><!-- End of Logo -->
              </div>

              <!-- Top Bar Icons -->

                            <div class="navbar-icons">

                <!-- Left aligned icons-->

                                <ul class="nav navbar-nav navbar-left">

                  <!-- Sidebar Menu Trigger -->

                                    <li class="menu-icon">
                                        <a class="side-menu-trigger" href="#">
                                            <ul class="bar-icon-wrapper">
                                                <li class="bar-icon"></li>
                                                <li class="bar-icon"></li>
                                                <li class="bar-icon"></li>
                                            </ul>
                                        </a>
                                    </li><!-- End of Sidebar Menu Trigger -->



                                </ul><!-- End of Left Aligned Icons -->

                <!-- Right Aligned Icons -->

                <ul class="nav navbar-nav navbar-right">
                  <!-- Chat/Settings Trigger -->

                  <li class="nav-chat">
                    <a class="chat-trigger"><div class="notification-dot"><span class="pulse"></span><span class="point"></span></div><i class="online-text">Online</i></a>
                  </li><!-- End of Chat/Settings Trigger -->

                  <!-- Logout Button -->

                </ul><!-- End of Right Aligned Icons -->
                            </div>
                        </div>
                    </div>
          <!-- Side Header | Remove "active" if you want side header closed by default -->

          <div class="side-header active">
            <div class="side-header-container">
              <div class="side-header-inner-container">
                <ul class="side-header-nav">
                  <li class="with-dropdown active">
                    <a  class="menu-dropdown-link" data-toggle="collapse" aria-expanded="true" href="index-2.html#"><i class="icon-presentation"></i>Dashboard</a>
                  </li>
                  <li class="menu-heading">Menu</li>
                  <li class="with-dropdown">
                    <a  class="menu-dropdown-link" data-toggle="collapse" aria-expanded="true" href="#"><i class="icon-browser"></i>Events<span class="dropdown-icon"></span></a>
                    <ul class="menu-dropdown collapse">
                      <li><a href="{% url 'add_event' %}">Add Event</a></li>
                      <li><a href="{% url 'event_list' %}">List of Events</a></li>
                    </ul>
                  </li>
                  <li class="with-dropdown">
                    <a  class="menu-dropdown-link" data-toggle="collapse" aria-expanded="true" href="#"><i class="icon-browser"></i>News<span class="dropdown-icon"></span></a>
                    <ul class="menu-dropdown collapse">
                      <li><a href="{% url 'add_news' %}">Add News</a></li>
                      <li><a href="{% url 'news_list' %}">List of all News</a></li>
                    </ul>
                  </li>
                   <li class="with-dropdown">
                    <a  class="menu-dropdown-link" data-toggle="collapse" aria-expanded="true" href="#"><i class="icon-browser"></i>Registered Events<span class="dropdown-icon"></span></a>
                    <ul class="menu-dropdown collapse">
                      <li><a href="{% url 'registered_users_list' %}">List of Registered users </a></li>
                    </ul>
                  </li>

                  <li class="with-dropdown">
                    <a  class="menu-dropdown-link" data-toggle="collapse" aria-expanded="true" href="#"><i class="icon-browser"></i>Registered Events<span class="dropdown-icon"></span></a>
                    <ul class="menu-dropdown collapse">
                      <li><a href="product-list.html">List of Registered Events </a></li>
                    </ul>
                  </li>
                  <li class="with-dropdown">
                    <a  class="menu-dropdown-link" data-toggle="collapse" aria-expanded="true" href="#"><i class="icon-linegraph"></i>Payments<span class="dropdown-icon"></span></a>
                    <ul class="menu-dropdown collapse">
                      <li><a href="special-offers-list.html">List of Payments </a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header> <!-- End of Header -->
        {% block content %}
        <!-- Content of the dashboard loaded on other pages -->
        {% endblock %}
    <!-- Footer -->


        <!-- Loading Third Party Scripts -->

    <script src="{% static 'ras_dashboard/third-party/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/easing/js/jquery.easings.min.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/nivo-lightbox/js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/owl/js/owl.carousel.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/counter-up/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/form-validation/js/formValidation.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/form-validation/js/framework/bootstrap.min.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/waypoint/js/waypoints.min.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/wow/js/wow.min.js' %}"></script>
    <script src="{% static 'ras_dashboard/third-party/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>

    <!-- Loading Page's Script -->

    <script src="{% static 'ras_dashboard/third-party/morris.js/morris.js' %}"></script>
    <script src="{% static 'ras_dashboard/pages/morris-charts.js' %}"></script>

        <!-- Loading Theme's Scripts -->

        <script src="{% static 'ras_dashboard/js/bootstrapdatetimepicker.js' %}"></script>
        <script src="{% static 'ras_dashboard/js/scripts.js' %}"></script>
        <script src="{% static 'ras_dashboard/js/custom.js' %}"></script>

    <script>
      $(function(){
        $('.slim-scroll-div').slimscroll({
          height: 'auto'
        })
      });
    </script>
    </body>
</html>
