{% extends 'ras_dashboard/admin_base.html' %}

<html>
<head>
  <title>{% block head_title %} Dashboard | Registered users {% endblock%}</title>
</head>
{% block content %}
<section class="page-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="header-inline-content">
                <h2 class="page-title">Registered Users</h2>
              </div>
              <div class="header-inline-content">
                <ul class="breadcrumb">
                  <li><a href="index.html"></a></li>
                  <li class="active"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
</section><!-- End of Page Header -->

       <!-- Flot Basic -->

      <div class="section-admin container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="admin-content">
              <div class="table-responsive">
                <table id="example1" class="table table-theme table-striped">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Middle Name</th>
                      <th>Last Name</th>
                      <th>WASSCE ID</th>
                      <th>Date of Birth</th>
                      <th>Phone Number</th>
                      <th>Ras account status</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for reg_user in user_registration %}
                    <tr>
                      <td>{{reg_user.first_name}}</td>
                      <td>{{reg_user.middle_name}}</td>
                      <td>{{reg_user.last_name}}</td>
                      <td>{{reg_user.wassce_id_number}}</td>
                      <td>{{reg_user.date_of_birth}}</td>
                      <td>{{reg_user.phone_number}}</td>
                      <td>{{reg_user.ras_acct_payment_status}}</td>
                    </tr>
                    {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
</html>
