{% extends 'ras_dashboard/admin_base.html' %}

<html>
<head>
  <title>{% block head_title %} Dashboard | News list {% endblock%}</title>
</head>
{% block content %}
<section class="page-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="header-inline-content">
                <h2 class="page-title">News List</h2>
              </div>
              <div class="header-inline-content">
                <ul class="breadcrumb">
                  <li><a href="index.html"></a></li>
                  <li class="active"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
</section><!-- End of Page Header -->

       <!-- Flot Basic -->

      <div class="section-admin container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="admin-content">
              <div class="table-responsive">
                <table id="example1" class="table table-theme table-striped">
                  <thead>
                    <tr>
                      <th>News title</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for news in news_list %}
                    <tr>
                      <td>{{news.title}}</td>
                      <td>{{news.description}}</td>
                      <td><a href="{% url 'edit_news' pk=news.pk %}" type="" class="btn btn-theme">Edit</button></td>
                    </tr>
                    {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
</html>
