{% extends 'ras_dashboard/admin_base.html' %}

<html>
<head>
  <title>{% block head_title %} Dashboard | Event list {% endblock%}</title>
</head>
{% block content %}
<section class="page-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="header-inline-content">
                <h2 class="page-title">Events List</h2>
              </div>
              <div class="header-inline-content">
                <ul class="breadcrumb">
                  <li><a href="index.html"></a></li>
                  <li class="active"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
</section><!-- End of Page Header -->

       <!-- Flot Basic -->

      <div class="section-admin container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="admin-content">
              <div class="table-responsive">
                <table id="example1" class="table table-theme table-striped">
                  <thead>
                    <tr>
                      <th>Event Name</th>
                      <th>Venue</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for event in event_list %}
                    <tr>
                      <td>{{event.event_name}}</td>
                      <td>{{event.venue}}</td>
                      <td>{{event.description}}</td>
                      <td>{{event.price}}</td>
                      <td>{{event.event_date_and_time.date}}</td>
                      <td>{{event.event_date_and_time.time}}</td>
                      <td><a href="{% url 'edit_event' pk=event.pk %}" type="" class="btn btn-theme">Edit</a></td>
                    </tr>
                    {% endfor %}

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
</html>
