{% extends 'ras_dashboard/admin_base.html' %}

<html>
<head>
  {% block head_title %}Content Dashboard | {% endblock%}
</head>
{% block content %}
<div class="section-admin container-fluid">
        <div class="row admin text-center">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="admin-content bg-blue text-light text-left">
                  <span class="counter-icon counter-icon-big icon_ribbon color-dark-blue"></span>
                  <span class="counter-extend"></span><span class="counter">4</span>
                  <h3>Events</h3>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="admin-content bg-dark-blue text-light text-left">
                  <span class="counter-icon counter-icon-big icon_tags"></span>
                  <span class="counter">100</span>
                  <h3>Registrations</h3>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="admin-content bg-purple text-light text-left">
                  <span class="counter-icon counter-icon-big icon_cart"></span>
                  <span class="counter">10</span>
                  <h3>Registered Events</h3>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="admin-content bg-dark-green text-light text-left">
                  <span class="counter-icon counter-icon-big icon_chat color-green"></span>
                  <span class="counter"> GHC 80</span>
                  <h3>Total Payments</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Page Header -->

      <section class="page-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="header-inline-content">
                <h3 class="page-title">Registered Events</h3>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End of Page Header -->

       <!-- Flot Basic -->

      <div class="section-admin container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="admin-content">
              <div class="table-responsive">
                <table id="example1" class="table table-theme table-striped">
                  <thead>
                    <tr>
                      <th>Event Name</th>
                      <th>Description</th>
                      <th>Venue</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Price</th>
                      <th>User</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Entrepreneurship seminar</td>
                      <td>This is happening soon at conference hall</td>
                      <td>Kempinski</td>
                      <td>May 29, 2017</td>
                      <td>14:00</td>
                      <td>Ghc 100.00</td>
                      <td>Kennedy Anyinatoe</td>
                    </tr>
                    <tr>
                      <td>Entrepreneurship seminar</td>
                      <td>This is happening soon at conference hall</td>
                      <td>Kempinski</td>
                      <td>May 29, 2017</td>
                      <td>14:00</td>
                      <td>Ghc 100.00</td>
                      <td>Kennedy Anyinatoe</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
{% endblock %}
</html>
