
{% block content %}
<p>Ras account</p>
  <p>
   <!-- We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly. -->
    “You should receive an email with instructions for resetting your password shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}
